@import "layout/stepper.css" ;
@import "layout/fonts.css" ;
@import "layout/order-info.css" ;
@import "layout/order-form.css" ;
@import "layout/order-item.css" ;
@import "layout/buyer__detailes.css" ;
@import "layout/socials.css" ;
@import "layout/buyer-cards.css" ;

html,
body {
  height: 100%;
}

body {
  font: 12px / 1.42 "Segoe UI", Arial, sans-serif;
  color: #9499a8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f3f6;
  overflow-y: hidden;
}

.wrapper {

  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  
}

.container {
  margin: 0 auto;

}


ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
} 