*
 {
  box-sizing: border-box;
}

/* base style */
.amount__stepper{
  display: inline-block;
  max-width: 120px;
  width: 100%;
  position: relative;
}

.stepper__input{
  padding: 0 14px;
  text-align: center;
  height: 20px;
  border: 1px solid #e9e8e8;
  -moz-appearance: textfield;
}

.stepper__input:focus{

  outline: 0;

}

.stepper__input::-webkit-inner-spin-button,
.stepper__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.stepper__controls [spinner-button="up"],
.stepper__controls [spinner-button="down"]{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  outline: none;
  border: 1px solid #e9e8e8;
  background-color: #fff;
  line-height: 0;
  transition: all ease 0.25s;
}

.stepper--style-2{
  max-width: 140px;
}
.stepper--style-2 .stepper__input{
 color: #17283c;
 
}
.stepper--style-2 [spinner-button="up"],
.stepper--style-2 [spinner-button="down"] {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.stepper--style-2 [spinner-button="up"] {
  left: 50px;
  margin-right: -1px;
}
.stepper--style-2 [spinner-button="down"] {
  right: 50px;
  margin-left: -1px;

}
